{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-hook-mongoose",
      "settings": {
        "host": "ds048878.mlab.com",
        "port": 48878,
        "database": "thinkfulcast_cms_dev",
        "username": "",
        "password": ""
      },
      "options": {
        "useNullAsDefault": true
      }
    }
  }
}
